.container {
    width: 100%;
}

.title {
    font-size: 24px;
    font-weight: 500;
}

.title-text {
    padding-left: 3.5rem; 
    margin: 1rem;
}

.skill-table {
    float: left; 
    width: 100%;
}

.skill-filter {
    margin-left: 1.5rem; 
    width: 21% !important;
}

.table-container {
    height: 530px;
    overflow: auto;
  }

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }

  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }