<div class="container">
    <!-- Title -->
    <div class="title">
        <div class="title-text">
            User Information
        </div>
    </div>
    <!-- User infor -->
    <div class="user-info">
        <!-- Avatar image -->
        <div class="user-avatar">
            <div class="user-avatar-img">
                <img src="../assets/images/avatar.png" alt="" style="width: 8rem;">
            </div>
            <div class="user-avatar-text">
                {{currentUserName}}
            </div>
        </div>
        <div class="user-dep">
            <div style="padding-bottom: 2rem;">
                <p class="user-dep-title">Department:</p> {{currentUser.department}}
            </div>
            <div>
                <p class="user-dep-title">Skill Hightlight:</p>
            </div>
        </div>
        <div class="user-title">
            <div style="padding-bottom: 2rem;">
                <p class="user-dep-title">Title:</p> {{currentUser.title}}
            </div>
            <div>
                <p class="user-dep-title">Experience Year:</p> {{currentUser.experienceYear}} Years
            </div>
        </div>
    </div>
    <!-- Tab user -->
    <div class="user-tab">
        <mat-tab-group>
            <mat-tab label="Project">
                <mat-form-field appearance="standard" class="user-filter">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilterProject($event)" placeholder="Ex. Tu" #input>
                </mat-form-field>
                <button mat-raised-button style="margin-left: 70%;" (click)="editUserInfo()"
                    color="primary">Edit</button>
                <div class="table-container mat-elevation-z8">
                    <table mat-table [dataSource]="dataSourceProject" matSort>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                                Name </th>
                            <td mat-cell *matCellDef="let row"> {{row.projectName}} </td>
                        </ng-container>

                        <!-- Role Column -->
                        <ng-container matColumnDef="role">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by role">
                                Role </th>
                            <td mat-cell *matCellDef="let row"> {{row.role}} </td>
                        </ng-container>

                        <!-- Tags Column -->
                        <ng-container matColumnDef="tags">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by tags">
                                Tags </th>
                            <td mat-cell *matCellDef="let row"> {{row.tags[0].name + ', ' + row.tags[1].name}} </td>
                        </ng-container>

                        <!-- Description Column -->
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                sortActionDescription="Sort by description"> Description </th>
                            <td mat-cell *matCellDef="let row"> {{row.description}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsProject; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsProject;"></tr>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data</td>
                        </tr>
                    </table>

                    <mat-paginator #projectPaginator [pageSizeOptions]="[4, 10, 25]" showFirstLastButtons
                        aria-label="Select page of users"></mat-paginator>
                </div>
            </mat-tab>
            <mat-tab label="Skill">
                <mat-form-field appearance="standard" style="margin-left: 1.5rem; width: 23%;">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilterSkill($event)" placeholder="Ex. Java" #inputSkill>
                </mat-form-field>
                <button mat-raised-button style="margin-left: 70%;" (click)="editUserInfo()"
                    color="primary">Edit</button>
                <div class="table-container mat-elevation-z8">
                    <table mat-table [dataSource]="dataSourceSkill" matSort>

                        <!-- Skill Column -->
                        <ng-container matColumnDef="skill">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Skill </th>
                            <td mat-cell *matCellDef="let row"> {{row.skill[0].name}} </td>
                        </ng-container>

                        <!-- YearExperience Column -->
                        <ng-container matColumnDef="yearExperience">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Year Experience </th>
                            <td mat-cell *matCellDef="let row"> {{row.yearExperience}} </td>
                        </ng-container>

                        <!-- Level Column -->
                        <ng-container matColumnDef="level">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Level </th>
                            <td mat-cell *matCellDef="let row"> {{row.level}} </td>
                        </ng-container>

                        <!-- Details Column -->
                        <ng-container matColumnDef="details">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Details </th>
                            <td mat-cell *matCellDef="let row"> {{row.details}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsSkill; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsSkill;"></tr>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data</td>
                        </tr>
                    </table>

                    <mat-paginator #skillPaginator [pageSizeOptions]="[4, 10, 25]" showFirstLastButtons
                        aria-label="Select page of users"></mat-paginator>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>