<div class="container">
    <!-- Title -->
    <div class="title">
        <div class="title-text">
            User Information
        </div>
    </div>
    <!-- User infor -->
    <div class="user-info">
        <!-- Avatar image -->
        <div class="user-avatar">
            <div class="user-avatar-img">
                <img src={{imageAvatar}} alt="" style="width: 8rem;">
            </div>
            <div class="user-avatar-text">
                {{currentUserName}}
            </div>
            <div class="user-avatar-upload">
                <input type="file" class="file-input" (change)="uploadAvatar($event)" #fileUpload />
            </div>
        </div>
        <div class="user-dep">
            <div style="padding-bottom: 2rem;">
                <p class="user-dep-title">NTID:</p> {{currentAccount.ntid}}
            </div>
        </div>
        <div class="user-title">
            <div style="padding-bottom: 2rem;">
                <p class="user-dep-title">Email:</p> {{currentAccount.email}}
            </div>
        </div>
    </div>
</div>